<script type="text/x-handlebars" data-template-name="cards">
  {{#each cards}}
  <div {{action onCardClick}} {{bindAttr data-number="number"}} {{bindAttr data-name="name"}} {{bindAttr class=":card tapped:tapped"}}>
    <img {{bindAttr src="image"}}>
  </div>
  {{/each}}
</script>
<script type="text/x-handlebars" id="dialog-template">
  <div class="dialog_box">
    <p>{{text}}</p>
    <div class="buttons">
      {{#each buttons}}
        <button>{{this}}</button>
      {{/each}}
    </div>
  </div>
</script>
<div id="frame">
  <div id="players_bar">
    <div class="player" id="player_opponent"></div>
    <div id="phases">
      <ul>
        <li class="untap">Untap</li>
        <li class="upkeep">Upkeep</li>
        <li class="first_main">Main</li>
        <li class="begin_combat">Begin Combat</li>
        <li class="attackers">Attackers</li>
        <li class="blockers">Blockers</li>
        <li class="damage">Damage</li>
        <li class="end_combat">End Combat</li>
        <li class="second_main">Main</li>
        <li class="end">End</li>
        <li class="cleanup">Cleanup</li>
      </ul>
    </div>
    <div id="dialog">
      <form id="login">
        <label for="user_name">User name</label>
        <input id="user_name" type="text"> <br/>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <div class="player" id="player_me"></div>
  </div>
  <div id="boards">
    <div class="wrapper">
      <div id="opponent_board" class="board">
          <div class="lands">
          </div>
          <div class="creatures">
          </div>
      </div>      
    </div>
    <div class="wrapper">
      <div id="player_board" class="board">
          <div class="creatures">
          </div>
          <div class="lands">
          </div>
      </div>      
    </div>
    <div id="hand">
    </div>
  </div>
  <div id="chat_bar">
    <button onClick="resetServer()">Reset</button>
  </div>
</div>
<script>
  $(function(){
    $(".card").on("click", function(){
      $(this).toggleClass("tapped");
    });
  })
</script>