<script type="text/x-handlebars" data-template-name="cards">
  {{#each cards}}
  <div {{action onCardClick}} {{bindAttr data-number="number"}} {{bindAttr data-name="name"}} {{bindAttr class=":card tapped:tapped"}}>
    <img {{bindAttr src="image"}}>
  </div>
  {{/each}}
</script>
<script type="text/x-handlebars" id="dialog-template">
  <div class="dialog_box">
    <p>{{text}}</p>
    <div class="buttons">
      {{#each buttons}}
        <button>{{this}}</button>
      {{/each}}
    </div>
  </div>
</script>
<div id="frame">
  <div id="players_bar">
    <div class="player">
      <div class="info">
        <div class="avatar">
          <img src="https://pbs.twimg.com/profile_images/727534591116976128/VOyi6H08_bigger.jpg" >
        </div>
        <ul class="cards">
          <li class="lib">50</li>
          <li class="hand">6</li>
          <li class="grave">2</li>  
        </ul>
        <ul class="pool">
          <li class="white"><i class="ms ms-w ms-cost"></i></li>
          <li class="blue"><i class="ms ms-u ms-cost"></i></li>
          <li class="black"><i class="ms ms-b ms-cost"></i></li>
          <li class="red"><i class="ms ms-r ms-cost"></i></li>
          <li class="green"><i class="ms ms-g ms-cost"></i></li>
          <li class="colorless"><i class="ms ms-c ms-cost"></i></li>
        </ul>
      </div>
      <div class="graveyard">
      </div>
    </div>
    <div id="phases">
      <ul>
        <li class="untap">Untap</li>
        <li class="upkeep">Upkeep</li>
        <li class="main">Main</li>
        <li class="begin_combat">Begin Combat</li>
        <li class="declare_attackers">Declare Attackers</li>
        <li class="declare_blockers">Declare Blockers</li>
        <li class="combat_damage">Combat Damage</li>
        <li class="end_combat">End Combat</li>
        <li class="main">Main</li>
        <li class="end">End</li>
      </ul>
    </div>
    <div id="dialog">
      <form id="login">
        <label for="user_name">User name</label>
        <input id="user_name" type="text"> <br/>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <div class="player">
      <div class="info">
        <div class="avatar">
          <img src="https://pbs.twimg.com/profile_images/727534591116976128/VOyi6H08_bigger.jpg" >
        </div>
        <ul class="cards">
          <li class="lib">50</li>
          <li class="hand">6</li>
          <li class="grave">2</li>  
        </ul>
        <ul class="pool">
          <li class="white"><i class="ms ms-w ms-cost"></i></li>
          <li class="blue"><i class="ms ms-u ms-cost"></i></li>
          <li class="black"><i class="ms ms-b ms-cost"></i></li>
          <li class="red"><i class="ms ms-r ms-cost"></i></li>
          <li class="green"><i class="ms ms-g ms-cost"></i></li>
          <li class="colorless"><i class="ms ms-c ms-cost"></i></li>
        </ul>
      </div>
      <div class="graveyard">
      </div>
    </div>
  </div>
  <div id="boards">
    <div class="wrapper">
      <div class="board">
          <div class="lands">
            <div class="card">
              <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=253680&amp;type=card">
            </div>
          </div>
          <div class="creatures">
            <div class="card">
              <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=235597&amp;type=card">
            </div>
            <div class="card">
              <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=235597&amp;type=card">
            </div>
          </div>
      </div>      
    </div>
    <div class="wrapper">
      <div id="player_board" class="board">
          <div class="creatures">
            <div class="card">
              <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=235597&amp;type=card">
            </div>
            <div class="card">
              <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=235597&amp;type=card">
            </div>
          </div>
          <div class="lands">
            <div class="card">
              <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=253680&amp;type=card">
            </div>
          </div>
      </div>      
    </div>
    <div id="hand">
      <div class="card">
        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=253680&amp;type=card">
      </div>
    </div>
  </div>
  <div id="chat_bar">
    <button onClick="resetServer()">Reset</button>
  </div>
</div>
<script>
  $(function(){
    $(".card").on("click", function(){
      $(this).toggleClass("tapped");
    });
  })
</script>