<div id="frame">Connecting...</div>

<script type="text/x-handlebars" id="dialog-template">
  <div class="dialog_box">
    <p>{{text}}</p>
    <div class="buttons">
      {{#each buttons}}
        <button>{{this}}</button>
      {{/each}}
    </div>
  </div>
</script>