* { box-sizing: border-box; padding: 0; margin: 0; }
body { font-family:arial; color:white; background:black; width:100%; height:100%; text-align: center;  }
#frame {
  height: 100%;
  width: 100%;
  position:absolute;
  min-height:600px;
}

//*****************************************************
// Common
//*****************************************************
.card {
  padding-right:3px;
  float:left;
  height:100%;
  img {
    height:100%;
    border-radius:4.5%;
    opacity:1;
  }
}
.tapped {
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

//*****************************************************
// Players
//*****************************************************
#players_bar {
  height:100%;
  width:10%;
  float:left;
  overflow:hidden;
  min-height:600px;
  > div {
    border: solid 1px black;
    background:gray;
  }
  #phases {
    height:40%;
    font-size:0.8em;
    text-align: left;
    ul {
      height:100%;
      li {
        height:10%;
        border-top:solid 1px black;
        border-bottom: solid 1px black;
      }
    }
  }
  #dialog {
    height:10%;
  }
  .player{
    height:25%;
    > div{
      height:100%;
      width:50%;
      float:left;
    }
    .info {
      width:50%;
      ul {
        float:left;
        list-style:none;
        width:50%;
        height:67%;
      }
      .cards li{
        display:block;
        height:33%;
        width:100%;
      }
      .pool li{
        display:block;
        height:16.66666%;
        width:100%;
      }
    }
    .avatar {
      overflow:hidden;
      height:33%;
      img {
        height:100%;
      }
    }
  }
}

//*****************************************************
// Board
//*****************************************************
#boards {
  height:100%;
  margin-left:200px;
  margin-right:200px;
  min-height:600px;
  .wrapper {
    height:40%;
    padding:5px 5px 0 5px;
  }
 .board {
    height:100%;
    background: darkgray;
    .card {
      padding-right:4%;
    }
    .tapped {
      margin-top:2.5%;
    }
  }
  .lands, .creatures {
    height:50%;
    padding:5px;
    overflow:hidden;
  }
  #hand {
    padding:6px 10px;
    height:20%;
  }
}

//*****************************************************
// Chat bar
//*****************************************************
#chat_bar {
  position:absolute;
  background:gray;
  height:100%;
  width:10%;
  right:0;
  top:0;
  overflow:hidden;
  min-height:600px;
}