$border-color: #786E50;
$bar-width: 170px;
$menu-text-color: #CBC3B9;

* { box-sizing: border-box; }
body { font-family:arial; color:white; background:black; width:100%; height:100%; text-align: center; margin:0px; }
#frame {
  height: 100%;
  width: 100%;
  position:absolute;
  min-height:600px;
}

//*****************************************************
// Common
//*****************************************************
.card {
  padding-right:3px;
  float:left;
  height:100%;
  img {
    height:100%;
    border-radius:4.5%;
    opacity:1;
  }
}
.tapped {
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}
.menu-box {
  border:solid 1px $border-color;
  border-radius: 5px;
}
ul {
  padding:0px;
  margin:0px;
}
//*****************************************************
// Players
//*****************************************************
#players_bar {
  height:100%;
  width: $bar-width;
  float:left;
  overflow:hidden;
  min-height:600px;
  #phases {
    @extend .menu-box;
    margin:5px;
    color:$menu-text-color;
    height:calc(35% - 10px);
    font-size:0.8em;
    text-align: left;
    ul {
      height:100%;
      li {
        height:10%;
        display: flex;
        padding-left: 10px;
        align-items: center;
        border-bottom: solid 1px $border-color;
      }
      :last-child {
        border:none;
      }
    }
  }
  #dialog {
    height:15%;
    @extend .menu-box;
    margin:5px;
    font-size:small;
  }
  .player{
    @extend .menu-box;
    height: calc(25% - 10px);
    margin: 5px;
    padding: 5px;
    font-size:smaller;
    > div{
      height:100%;
      width:50%;
      float:left;
    }
    .info {
      width:50%;
      ul {
        float:left;
        list-style:none;
        width:50%;
        height:67%;
      }
      .cards li{
        display:block;
        height:33%;
        width:100%;
      }
      .pool li{
        display:block;
        height:16.66666%;
        width:100%;
      }
    }
    .avatar {
      overflow:hidden;
      height:33%;
      img {
        height:100%;
      }
    }
  }
}

//*****************************************************
// Board
//*****************************************************
#boards {
  height:100%;
  margin-left:$bar-width;
  margin-right:$bar-width;
  min-height:600px;
  .wrapper {
    height:40%;
    padding:5px 5px 0 5px;
  }
 .board {
    height:100%;
    background: darkgray;
    .card {
      padding-right:4%;
    }
    .tapped {
      margin-top:2.5%;
    }
  }
  .lands, .creatures {
    height:50%;
    padding:5px;
    overflow:hidden;
  }
  #hand {
    padding:6px 10px;
    height:20%;
  }
}

//*****************************************************
// Chat bar
//*****************************************************
#chat_bar {
  position:absolute;
  background:gray;
  height:100%;
  width: $bar-width;
  right:0;
  top:0;
  overflow:hidden;
  min-height:600px;
}